<form class="form-signin" method="POST" action="/api/users/edit-profile?_method=PUT">

 <label for="inputName" class="sr-only">Name</label>
 <input type="text" id="inputName" class="form-control" placeholder="Name" value="<%= user.profile.name  %>" name="name">

 <br />
 <label for="inputEmail" class="sr-only">Email address</label>
 <input type="text" id="inputEmail" class="form-control" placeholder="Email address" value="<%= user.email %>" name="email">

 <br />
 <label for="inputAddress" class="sr-only">Address</label>
 <input type="text" id="inputAddress" class="form-control" placeholder="Address" value="<%= user.address %>" name="address">

 <br />
 <label for="inputPassword" class="sr-only">Password</label>
 <input type="text" id="inputPassword" class="form-control" placeholder="Password" name="password">

 <br />

<select class="custom-select" name="team">
<option selected>Favorite MLB Team</option>
<option value="Arizona Diamondbacks">Arizona Diamondbacks</option>
<option value="Atlanta Braves">Atlanta Braves</option>
<option value="Baltimore Orioles">Baltimore Orioles</option>
<option value="Boston Red Sox">Boston Red Sox</option>
<option value="Chicago Cubs">Chicago Cubs</option>
<option value="Chicago White Sox">Chicago White Sox</option>
<option value="Cincinnati Reds">Cincinnati Reds</option>
<option value="Cleveland Indians">Cleveland Indians</option>
<option value="Colorado Rockies">Colorado Rockies</option>
<option value="Detroit Tigers">Detroit Tigers</option>
<option value="Houston Astros">Houston Astros</option>
<option value="Kansas City Royals">Kansas City Royals</option>
<option value="Los Angeles Angels">Los Angeles Angels</option>
<option value="Los Angeles Dodgers">Los Angeles Dodgers</option>
<option value="Miami Marlins">Miami Marlins</option>
<option value="Milwaukee Brewers">Milwaukee Brewers</option>
<option value="Minnesota Twins">Minnesota Twins</option>
<option value="New York Mets">New York Mets</option>
<option value="New York Yankees">New York Yankees</option>
<option value="Oakland Athletics">Oakland Athletics</option>
<option value="Philadelphia Phillies">Philadelphia Phillies</option>
<option value="Pittsburgh Pirates">Pittsburgh Pirates</option>
<option value="San Diego Padres">San Diego Padres</option>
<option value="San Francisco Giants">San Francisco Giants</option>
<option value="Seattle Mariners">Seattle Mariners</option>
<option value="St. Louis Cardinals">St. Louis Cardinals</option>
<option value="Tampa Bay Rays">Tampa Bay Rays</option>
<option value="Texas Rangers">Texas Rangers</option>
<option value="Toronto Blue Jays">Toronto Blue Jays</option>
<option value="Washington Nationals">Washington Nationals</option>

</select>

 <br />
 <button class="btn btn-lg btn-primary btn-block" type="submit">Update Profile</button>

</form>