<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">

 <a class="navbar-brand" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/36/World_Baseball_Classic_logo.svg/1200px-World_Baseball_Classic_logo.svg.png" width="36" height="36"></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/scores" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">SCORES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/standings" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">STANDINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tickets" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');">TICKETS</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/api/product" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">SHOP</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="/teams" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">TEAMS</a>
      </li>

    </ul>
</div>
    
   <form class="form-inline my-2 my-lg-0" action='/api/product/search' method='POST'>
     <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name='q'>
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>


 <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav ml-auto">
        
        <% if(!user){ %>
        
            <li class="nav-item">
            <a class="nav-link" href="/api/users/signin"><img src="https://secure.ui.bamstatic.com/bridge/images/headers/default_avatar.png" width="36" height="36"><span class="sr-only">(current)</span></a>
            </li>
        
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/api/users/edit-profile">Logged in as <span style="color: orange;"><%= user.email %></span></a>
            </li>
            <li class="nav-item">
                <a href='/api/cart'><span class="fa-stack has-badge" data-count=<%= cart %> >
                        <i class="fas fa-cat"></i>
                </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/users/logout">Logout</a>
            </li>
        <% } %>
        
     </ul>

 </div>

</nav>