<script src="/javascripts/scores.js"></script>
<H3>Scoreboard</H3>
<main role="main">
    <section class="text-center">
        <div class="container">
        <h1 class="jumbotron-heading"></h1>
        <p class="lead text-muted"></p>
        <p>
        <a href="#" id="previous" class="btn btn-secondary my-2">Previous Day</a>
        <a href="#" id="#primary" class="btn btn-primary my-2"></a>
        <a href="#" id="next" class="btn btn-secondary my-2">Next Day</a>
        </p>
        </div>
    </section>
            
    <div class="album py-5 bg-light">
    <div class="container">
    <div class="row content">
    </div>
    </div>
    </div>       
</main>
            
            
            