<!DOCTYPE html>
<html>
    <% include ./partials/head %>
  <body>
    <% include ./partials/nav %>
    <br>
    <br>
    <br>
    <% include ./partials/scores%>
    <% include ./partials/footer %>
  </body>
</html>
