<!DOCTYPE html>
<html>

    <% include ../partials/head %>

 <body style="padding: 100px;">

        <% if (success.length > 0) { %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>


     <ul class="list-group">

        <% for(let i = 0; i < categories.length; i++) { %>
            <% let link = `/${ categories[i].name }/${ categories[i]._id }` %>
            <li class="list-group-item">
                <a href="/api/admin/create-fake-product<%= link %>"><%= categories[i].name %></a>
            </li>
        <% } %>
     </ul>

 </body>
</html>