<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <script src="/javascripts/standings.js"></script>
  <body>
    <% include ../partials/nav %>
    <br>
    <br>
    <br>
<H1>Standing</H1>
<main role="main">       
    <div class="album py-5 bg-light">
    <div class="container-standing">
    <div class="row content-standing">
    </div>
    </div>
    </div>       
</main>
    <% include ../partials/footer %>
  </body>
</html>

