<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/head %>
    <script src="/javascripts/teams.js"></script> 
    </head>
  <body>
    <% include ../partials/nav %>
    <br>
    
    <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
    </div>
    </div>
  
    
    <% include ../partials/footer %>
  </body>
</html>