<!DOCTYPE html>
<html>
    <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <br>
    
    <H1>Future Projects</H1>
    <hr>
    <UL>
    <li><h2> Seat Geek - Tickets - Search by User's Team/Location</h2>
    <li><h2> Standing API</h2>
    <li><h2> Database Import </h2>
    <li><h2> Google/Facebook - Passport - Login</h2>
    <li><h2> Reading: Error Messages/Promises/Callback </h2>
    <li><h2> Reading: Jquery/AJAX and Bootstrap </h2>
    <li><h2> Reading: Prototype/Models</h2>
    </UL>
    
    <% include ../partials/footer %>
  </body>
</html>