<!DOCTYPE html>
<html>
    <% include ../partials/head %>
  <body>
    <% include ../product/nav-product %>
    <br>
    <br>
    <br>
    <h3>Payment Completed</h3>
    
    <% include ../partials/footer %>
  </body>
</html>

